@page "/example/{Id:int?}"
<div style="min-width:80vw">
<h1>@Title</h1>
    <EditForm Model="@ExampleDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (ExampleDTO.Id > 0)
        {
            <span class="text-info m-1">@ExampleDTO.Id</span>
        }
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Name">Name:</label> <i class="text-danger fa">*</i>

                    <InputText id="Name" class="form-control" @bind-Value="@ExampleDTO.Name"
                               placeholder="Enter Name"></InputText>
                    <ValidationMessage For="@(() => ExampleDTO.Name)" />
                </div>
                <div class="form-group">
                    <label for="Description">Description: </label> <i class="text-danger fa">*</i>
                    <InputTextArea rows="2" id="Description" class="form-control" @bind-Value="@ExampleDTO.Description"
                               placeholder="Enter Description"></InputTextArea>
                    <ValidationMessage For="@(() => ExampleDTO.Description)" />
                </div>
                <div class="form-group">
                    <label for="CreatedBy">Created By:</label> <i class="text-danger fa">*</i>

                    <InputText id="CreatedBy" class="form-control" @bind-Value="@ExampleDTO.CreatedBy"
                               placeholder="Enter Created By"></InputText>
                    <ValidationMessage For="@(() => ExampleDTO.CreatedBy)" />
                </div>
                <div class="form-group">
                    <label for="IsActive">Is Active: </label>
                    <InputCheckbox id="IsActive" class="form-checkbox" @bind-Value="@ExampleDTO.IsActive">
                    </InputCheckbox>
                    <ValidationMessage For="@(() => ExampleDTO.IsActive)" />
                </div>
                <div class="form-group">
                    <label for="Price">Price: </label> <i class="text-danger fa">*</i>
                    <InputNumber id="Price" class="form-control" @bind-Value="@ExampleDTO.Price"
                                 placeholder="Enter Price"></InputNumber>
                    <ValidationMessage For="@(() => ExampleDTO.Price)" />
                </div>
                <div class="form-group">
                    <label for="Quantity">Quantity: </label> <i class="text-danger fa">*</i>
                    <InputNumber id="Quantity" class="form-control" @bind-Value="@ExampleDTO.Quantity"
                                 placeholder="Enter Quantity"></InputNumber>
                    <ValidationMessage For="@(() => ExampleDTO.Quantity)" />
                </div>
             </div>
               <div class="col-6">
                <div class="form-group">
                    <label for="CategoryId">Category Id: </label> <i class="text-danger fa">*</i>
                    <InputNumber id="CategoryId" class="form-control" @bind-Value="@ExampleDTO.CategoryId"
                                 placeholder="Enter Category Id"></InputNumber>
                    <ValidationMessage For="@(() => ExampleDTO.CategoryId)" />
                </div>
            </div>
            <div class="col-6">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@CloseAsync"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>