
@page "/examples"
<div class="row">
<div class="col-md-12">
    </div>
    <div class="col-md-3">
        <h5 class="m-1">@Title Page: @pageNumber</h5>
    </div>
    	<div class="col-md-1">
		<button title="Go to 1st page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
			@onclick="@(()  => PageDown(true))">
			<i class="fa-solid fa-backward"></i>
		</button>
	</div>
	<div class="col-md-1">
		<button title="Go to previous page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
			@onclick="(()  => PageDown(false))">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div class="col-md-1">
		<button title="Go to next page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
			@onclick="(() => PageUp(false)) ">
			<i class="fas fa-arrow-right"></i>
		</button>
	</div>
	<div class="col-md-1">
		<button title="Go to last page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
			@onclick="(()  => PageUp(true))">
			<i class="fa-solid fa-forward"></i>
		</button>
	</div>
    <div class="col-md-4">
        <input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm" 
        @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter by Name/Description/Created By (Alt+I)" />
    </div> 
</div>

@if (FilteredExampleDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredExampleDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredExampleDTO.Count == 0)
{
    <p>No Example match the criteria</p>
    <button @onclick="AddNewExample" class="btn btn-outline-success">Add Record <i class="fas fa-plus"></i></button>
}
else
{
    <table style="font-size:small" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
              <th>Id</th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("Name"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("Name Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Name
                </th>
              <th>Description</th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("DateCreated"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("DateCreated Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Date Created
                </th>
              <th>Created By</th>
              <th>Is Active</th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("Price"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("Price Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Price
                </th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("Quantity"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortExample("Quantity Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Quantity
                </th>
              <th>Category Id</th>
                <th>
                    <button accesskey="+" @onclick="AddNewExample" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var example in FilteredExampleDTO)
            {
                <tr>
                    <td>
                        <button class="btn btn-sm btn-link" @onclick="@(() => EditExample(example.Id))">
                            @example.Id
                        </button>
                    </td>
                    <td>@example.Name</td>
                    <td>@example.Description</td>
                    <td>@example.DateCreated</td>
                    <td>@example.CreatedBy</td>
                    <td>@example.IsActive</td>
                    <td>@example.Price</td>
                    <td>@example.Quantity</td>
                    <td>@example.CategoryId</td>
                    <td class="btn-group-vertical">
                        <button class="btn btn-sm btn-outline-warning" @onclick="@(() => EditExample(example.Id))">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" @onclick="@(() => DeleteExample(example.Id))">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
