
@page "/languages"
<div class="row">
    <div class="col-md-7">
        <h5 class="page-title m-1">@Title</h5>
    </div>
    <div class="col-md-4">
        <input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm" 
        @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter by Language/Colour (Alt+I)" />
    </div> 
</div>

@if (FilteredLanguageDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredLanguageDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredLanguageDTO.Count == 0)
{
    <p>No Language match the criteria</p>
    <button @onclick="AddNewLanguageAsync" class="btn btn-success">Add Record <i class="fas fa-plus"></i></button>
}
else
{
    <table style="font-size:small" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
              <th>ID</th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortLanguage("Language"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortLanguage("Language Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Language
                </th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortLanguage("Active"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortLanguage("Active Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Active
                </th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortLanguage("Colour"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortLanguage("Colour Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Colour
                </th>
                <th>
                    <button accesskey="+" @onclick="AddNewLanguageAsync" class="btn btn-success btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var language in FilteredLanguageDTO)
            {
                <tr>
                    <td>
                        <a href="#" class="btn btn-sm btn-link" @onclick="@(() => EditLanguageAsync(language.Id))">
                            @language.Id
                        </a>
                    </td>
                    <td>@language.LanguageName</td>
                    <td>@language.Active</td>
                    <td>@language.Colour</td>
                    <td class="btn-group-vertical">
                        <button class="btn btn-sm btn-warning" @onclick="@(() => EditLanguageAsync(language.Id))">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteLanguageAsync(language.Id))">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
