
@page "/languages"
<PageTitle>Language Table</PageTitle>
<header>
<div class="row">
<div class="col-md-12">
    </div>
<div class="col-md-3">
<h1 class="m-1 fs-4">@Title of @totalRows Page: @pageNumber</h1>
</div>
@if (_serverPaging) {
<div class="col-md-4">
        <button title="Go to 1st page" type="button"
        class="btn btn-sm btn-outline-secondary mx-1"
        @onclick="@(()  => PageUp(true))">
        <i class="bi bi-skip-backward-fill"></i>
    </button>
    <button title="Go to previous page" type="button"
        class="btn btn-sm btn-outline-secondary mx-1"
        @onclick="(()  => PageUp(false))">
        <i class="bi bi-caret-left-fill"></i>
    </button>
    <button title="Go to next page" type="button"
        class="btn btn-sm btn-outline-secondary mx-1"
        @onclick="(() => PageDown(false)) ">
        <i class="bi bi-caret-right-fill"></i>
    </button>
    <button title="Go to last page" type="button"
        class="btn btn-sm btn-outline-secondary mx-1"
        @onclick="(()  => PageDown(true))">
        <i class="bi bi-skip-forward-fill"></i>
    </button>
    </div>
}
            @if (_serverPaging) {
            <div class="col-md-4">
                                <label for='SearchInput' class="sr-only">Type to Filter</label>
                <input @ref="SearchInput" accesskey="i"
                    class="form-control my-1"
                    style="float:right"
                    @bind="@SearchTerm"
                    @bind:event="oninput"
                    @onblur="ApplyFilter"
                    id="SearchInput" name="SearchTerm"
                    placeholder="Filter by Language Name/Colour (Alt+I)" />
                            </div>
            } else {
                                <div class="col-md-3">
                    <label for='ClientSearchInput' class="sr-only">Type to Filter</label>
                    <input @ref="SearchInput" class="form-control my-1" style="float:right" @bind="@ClientSearchTerm" id="ClientSearchInput"
                        name="ClientSearchTerm" @bind:event="oninput" placeholder="Filter by Language Name/Colour" />
                </div>
                            }
    </div>
</header>
<main>
    @if (FilteredLanguageDTO == null && _loadFailed == true)
        {
        <h2 class="text-danger">The data failed to load
            please try again in a little while..</h2>
                    <button class="btn btn-danger" type="button"
            @onclick="@( () => LoadData() )">Reload</button>
                <h6 class="text-danger">@ExceptionMessage</h6>
    }
    else if (FilteredLanguageDTO == null)
            {
                        <div style="display:normal;margin:auto"
                class="loader"></div>
                        }
    else if (FilteredLanguageDTO.Count ==
        0)
        {
        <p>No Language match the
                criteria</p>
                <button @onclick="AddNewLanguage"
            class="btn btn-outline-primary  btn-lg">Add
            Record <i
                class="bi bi-plus-square"></i></button>
                }
    else
    {
    <table style="font-size:x-large" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
                                                                <th>
                                ID
                            </th>
                                                                        <th>
                                                        <button class="btn btn-sm btn-outline-secondary"
                                @onclick="@(() => SortLanguage("LanguageName"))">
                                <i class="bi bi-sort-alpha-up"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-secondary"
                                @onclick="@(() => SortLanguage("LanguageName Desc"))">
                                <i class="bi bi-sort-alpha-up-alt"></i>
                            </button>
                                                        Language Name
                        </th>
                                                                        <th>
                                Active
                            </th>
                                                                            <th>
                                Colour
                            </th>
                                                        <th>
                                                          <button accesskey="+"
                                    @onclick="AddNewLanguage" class="btn btn-outline-success btn-sm">
                                    Create
                                    <i class="bi bi-plus-square"></i>
                              </button>
                                                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var language in FilteredLanguageDTO)
                            {
                            <tr>
                                                                    <td style="cursor:pointer" @onclick="@(() => EditLanguage(language.Id))">
        <button class="btn btn-sm btn-link">
        @language.Id
    </button>
    </td>
                                        <td>
        @language.LanguageName
    </td>
                                            <td>
        @language.Active
    </td>
                                            <td>
        @language.Colour
    </td>
                    <td class="btn-group-vertical border border-1" style='width:100%'>
            <button class="btn btn-sm btn-outline-warning"
                @onclick="@(() => EditLanguage(language.Id))">
                Edit
                <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger"
                @onclick="@(() => DeleteLanguage(language.Id))">
                Delete
                <i class="bi bi-trash"></i>
            </button>
        </td>
                    </tr>
            }
        </tbody>
    </table>
}
</main>
