@page "/language/{Id:int?}"
<div style="min-width:80vw">
<h1>@Title</h1>
    <EditForm Model="@LanguageDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (LanguageDTO.Id > 0)
        {
            <span class="text-info m-1">@LanguageDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Language">Language:</label> <i class="text-danger fa">*</i>

                    <InputText id="Language" class="form-control" @bind-Value="@LanguageDTO.LanguageName"
                               placeholder="Enter Language"></InputText>
                    <ValidationMessage For="@(() => LanguageDTO.LanguageName)" />
                </div>
                <div class="form-group">
                    <label for="Active">Active: </label>
                    <InputCheckbox id="Active" class="form-checkbox" @bind-Value="@LanguageDTO.Active">
                    </InputCheckbox>
                    <ValidationMessage For="@(() => LanguageDTO.Active)" />
                </div>
                <div class="form-group">
                    <label for="Colour">Colour:</label>
                    <InputText id="Colour" class="form-control" @bind-Value="@LanguageDTO.Colour"
                               placeholder="Enter Colour"></InputText>
                    <ValidationMessage For="@(() => LanguageDTO.Colour)" />
                </div>
            </div>
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@CloseAsync"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
