@using DynamicCRUD.T4Templates
@page "/blazorcrudgeneration"
<div class="row">
    <div class="col-5">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm"><u>T</u>able Filter </label>
                    <input accesskey="t" class="form-control form-control-sm" type="text" @bind="SearchString"
                        id="SearchString" @oninput="@(e => CallChangeAsync("SearchString"))" />
                </div>
            </div>
            <div class="col-6">
                <label class="col-form-label col-form-label-sm">Select a Table</label>
                <select id="tables" class="form-select form-select-sm border border-warning" @bind="@Tablename">
                    <option value="">-</option>
                    @foreach (var databaseTable in databaseTables)
                    {
                        <option value="@databaseTable.Tablename">@databaseTable.Tablename</option>
                    }
                </select>
            </div>
            <div class="col-3">
                @if (Tablename != null)
                {
                    <label></label>
                    <button accesskey="p" class="btn btn-sm btn-primary" type="button"
                        @onclick="@( ( ) => PopulateColumns() )">@PopulateColumnsCaption</button>
                }
else {
                        <label></label>
                    <button disabled accesskey="p" class="btn btn-sm btn-primary" type="button"
                        @onclick="@( ( ) => PopulateColumns() )">@PopulateColumnsCaption</button>

}
            </div>
            <div class="col-12 mt-1">
                <textarea
                    title=" In order to go to a different database change the settings on the app settings file and restart the application.bb"
                    disabled style='width:100%;font-size:smaller' class='form-control'
                    rows="8">@ConnectionString</textarea>
            <button class="btn btn-outline-info" type="button" @onclick="@( ( ) => OpenConfigurationFile("projectMappings.json"  ) )">Project Settings</button>
            <button class="btn btn-outline-info" type="button" @onclick="@( ( ) => OpenConfigurationFile("appsettings.json"  ) )">App Settings</button>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Model Name</label>
                    <input class="form-control form-control-sm" type="text" @bind="ModelName" id="ModelName"
                        @oninput="@(e => CallChangeAsync("ModelName"))" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Plural Name</label>
                    <input class="form-control form-control-sm" type="text" @bind="PluralName" id="PluralName"
                        @oninput="@(e => CallChangeAsync("PluralName"))" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Db Context Name</label>
                    <input required class="form-control form-control-sm" type="text" @bind="DbContextName"
                        id="DbContextName" @oninput="@(e => CallChangeAsync("DbContextName"))" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Namespaces: </label>
                    <label class="col-form-label col-form-label-sm"> Razor</label>
                    <input class="form-control form-control-sm" type="text" @bind="RazorNamespaceName" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">DTO </label>
                    <input class="form-control form-control-sm" type="text" @bind="DTONamespaceName" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Repository </label>
                    <input class="form-control form-control-sm" type="text" @bind="RepositoryNamespaceName" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Data Service </label>
                    <input class="form-control form-control-sm" type="text" @bind="DataServiceNamespaceName" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Location Razor Files </label>
                        <input class="form-control form-control-sm" type="text" @bind="LocationRazor" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">DTO </label>
                    <input class="form-control form-control-sm" type="text" @bind="LocationDTO" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Repository </label>
                    <input class="form-control form-control-sm" type="text" @bind="LocationRepository" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Data Service </label>
                    <input class="form-control form-control-sm" type="text" @bind="LocationDataService" />
                </div>
            </div>
        </div>
        <br>
    </div>

    @if (Columns != null)
    {
        <div class="col-12">
            <table style="font-size:x-small" class="table table-sm table-bordered table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Column Name</th>
                        <th>Label</th>
                        <th>Data Type</th>
                        <th>Size</th>
                        <th>Required</th>
                        <th>Is Auto Increment</th>
                        <th>Is Identity</th>
                        <th>Is Key</th>
                        <th>Filter?</th>
                        <th>Sort?</th>
                        <th>PK Override</th>
                        <th>Foreign Key?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var column in Columns)
                    {
                        <tr>
                            <td>@column.ColumnName</td>
                            <td style="font-size:xx-small"><input type="text" class="form-control-sm border border-warning"
                                    @bind="@column.Label" /></td>
                            <td>@column.DataType</td>
                            <td>@column.ColumnSize</td>
                            <td>@column.Required</td>
                            <td>@column.IsAutoIncrement</td>
                            <td>@column.IsIdentity</td>
                            <td>@column.IsKey</td>
                            <td style="text-align:center"><input type="checkbox" class="form-checkbox" @bind="@column.Filter" />
                            </td>
                            <td style="text-align:center"><input type="checkbox" class="form-checkbox" @bind="@column.Sort" />
                            </td>
                            <td style="text-align:center"><input type="checkbox" class="form-checkbox"
                                    @bind="@column.PrimaryKeyOverride" /></td>
                            <td style="text-align:center"><input type="checkbox" class="form-checkbox"
                                    @bind="@column.ForeignKey" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="col-3">
        <input type="checkbox" @bind="@UseBlazored" accesskey="b" />
        <label class="control-label">Use Blazored Modal & Toast (Alt-B)</label>
    </div>
    <div class="col-3">
        <input type="checkbox" @bind="@UseRadzen" accesskey="r" />
        <label class="control-label">Use Radzen Blazor (Alt-R)</label>
    </div>
    @if (ModelName != null)
    {
        <div class="col-6">
            <div class="btn-group">
                <button class="btn btn-success" type="button" @onclick="@( ( ) => GenerateClasses(  ) )">
                    Generate C# Classes
                </button>
            </div>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Message))
    {
        <div class="col-12">
            <div class="text-danger">@Message</div>
        </div>
    }
    @if (ShowInstructions)
    {
        <div class="col-12">
            <p>If this is the 1st time the table has been set up, please carry out the following tasks to complete the
                process:</p>
            <p>Inspect the generated files at DynamicCRUD.AutoGenClasses and move them to your project.</p>
            <p>The following line of code, should already exist the destination project DB context (@(DbContextName))</p>
            <p><code>public virtual DbSet&lt;@ModelName&gt; @PluralName { get; set; } </code> </p>
            <p>Add the following code to the mapper profile class:</p>
            <div class="row">
                <div class="col-10">
                    <input id='AutoMapperCode' @ref="AutoMapperCodeElement" class="form-control" type="text"
                        @bind="AutoMapperCode" />
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-primary" type="button"
                        @onclick="@( ( ) => FocusAutoMapperCode() )">Copy</button>
                </div>
            </div>
            <p>In the <code>Program.cs</code> file register both the Repository and Data Service as others have been
                registered, for dependency injection using the AddScoped method</p>
            <p>
            <div class="row">
                <div class="col-10">
                    <input id='DependencyInjectionCode' @ref="@DependencyInjectionCodeElement" class="form-control"
                        type="text" @bind="DependencyInjectionCode" />
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-primary" type="button"
                        @onclick="@( ( ) => FocusDependencyInjectionCode() )">Copy</button>
                </div>
            </div>
            </p>

        </div>
    }

</div>
